
.AddItem{
	display: grid;
    grid-template-rows: 40px auto;
	width: 550px;
	padding: 10px;
	background-color: indigo;
	margin: auto;
}
.textinput{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px;
	font-size: 30px;
}
#inputbox{
	width: 400px;
	height: 50px;
	font-size: 20px;
}
#AddBtn{
	width: 100px;
	height: 48px;
	margin-top: 2px;
	background-color: lightblue;
	color: white;
	cursor: pointer;
	border: none;
}
.boxsize{
	width: 500px;
	height: auto;
	background-color: white;
	margin-left: 25px;
}
.boxsize #items{
	list-style-position: inside;
	list-style-type: square;
	width: 480px;
	margin-left: -28px;

}
